
@{
    ViewData["Title"] = "MakeAnnouncement";
    Layout = "~/Views/_TeacherLayout.cshtml";
    DateTime today = DateTime.Now;
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Announcements /</span> Make Announcement</h4>
<div class="col-xxl">
                  <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="mb-0">New Announcement</h5>
                    </div>
                    <div class="card-body">
                      <form method="post">
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-name">Title</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" name="Title" id="basic-default-name" placeholder="Give a title">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Last Date</label>
                          <div class="col-md-10">
                          <input class="form-control" type="date" name="LastDate" value=@today.ToShortDateString() id="html5-date-input">
                        </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-message">Message</label>
                          <div class="col-sm-10">
                            <textarea id="basic-default-message" name="Text" class="form-control" placeholder="Make an announcement to everyone!" aria-label="Make an announcement to everyone!" aria-describedby="basic-icon-default-message2" style="height: 225px;"></textarea>
                          </div>
                        </div>
                        <div class="row justify-content-end">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Send</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
